name: Generate snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Platane/snk/svg-only@v3
        with:
          github_user_name: kentung12
          outputs: |
            output/snake.svg
      - uses: EndBug/add-and-commit@v9
        with:
          add: "output/snake.svg"
          message: "Update snake"
